@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #D9D9D9;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

a {
  cursor: pointer;
  text-decoration: none;
}

hr {
  color: #D9D9D9
}

.container{
  max-width: 1118px;
  width: 82%;
  margin: 0 auto;
  // @media (max-width: 1024px) {
  //     width: calc(100% - 100px);
  //     margin: 0px 50px;
  // }
  @media (max-width: 1024px) {
    width: calc(100% - 40px);
    margin: 0px 20px;
}
}

.header {
  height: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu-icon, .logo {
    cursor: pointer;
  }
  
  .menu-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  @media (max-width: 550px) {
    .logo{
      width: 150px;
    }
    .menu-icon{
      width: 90px;
    }
  }
}

/* Стили для модального окна тут */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.modal-content {
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px;
  text-align: center;
}

.modal-content>a {
  width: 180px;
  border-bottom: 1px solid #D9D9D9;
  font-size: 30px;
  color: #D9D9D9;
}

.modal-content>a:hover {
  color: #FFF;
  border-bottom: 1px solid #FFF;
  transform: scale(1.1);
  transition: 0.5s;
}

.close {
  color: #D9D9D9;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 35px;
  cursor: pointer;
}

.close:hover {
  transition: 0.5s;
  color: #fff;
  transform: scale(1.1);
}