@import url('../css/default.css');

.sec1{
  display: flex;
  justify-content: space-between;
  @media (max-width: 750px) {
      justify-content: center;
      flex-direction: column-reverse;
      gap: 20px;
  }
  &-imgdiv{
    width: 45%;
    img{
      width: 100%;
    }
    @media (max-width: 750px) {
      width: 100%;
      display: flex;
      justify-content: center;
      img{
        width: 60%;
      };
    }
  }
  &-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    span:hover {
      border-bottom: 2px solid #fff; 
      color: #fff;
      transition: border-bottom 0.3s ease; 
    }
    
    @media (max-width: 750px) {
      width: 100%;
      > div:nth-child(1) {
        text-align: center;
      }
    }
    
    &-fullname{
      font-size: 16px;
      @media (max-width: 750px) {
        text-align: center;
      }
    }
    &-spec{
      color: #fff;
      font-size: 40px;
      font-weight: 900;
      margin: 3px 0 7px 0;
    }
    &-down{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

// section 2 and 3 
.sec2{
  padding-top: 90px;
  &-title{
    margin-bottom: 90px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
  }
  
  &-title:hover{
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  &-content{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 30px;
    &-def{
      width: 350px;
      height: 380px;
      border-radius: 35px;
      position: relative;
      cursor: pointer;
      &-text{
        display: none;
        position: absolute;
        top: 0px;
        padding: 20px 30px;
        & > div{
          text-align: center;
        }
        & > div:nth-child(1) {
          color: #fff;
        }
        & > div:nth-child(2) {
          margin: 23px 0;
          font-size: 16px;
          height: 230px;
        }
        & > div:nth-child(3) > a {
          color: #fff;
          font-weight: 900;
        }
        & > div:nth-child(4) {
          padding-top: 15px;
        }
        .sec3-content-text{
          height: 180px !important;
        }
        .sec3-link{
          font-weight: 400 !important;
          text-decoration: underline;
        }
      } 
      &-transp{
        display: none;
      }
      &:hover > &-transp, &:hover > &-text{ 
        display:block;
        transition: 0.5;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        animation: fadeIn 0.7s ease;
      }
      
      @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
      }
      
      .sec3-text{
        position: absolute;
        bottom: -10px;
        @media (max-width: 400px) {
          div{
            font-size: 16px;
          }
        }
      }
    }
    // .snake{
    //   background: url('./images/transp.svg') center / cover;
    // }
  }
  .sec3-bottom{
    text-align: center;
    margin-top: 100px;
    padding: 60px;
    > div:nth-child(2){
      margin-top: 75px;
      color: #FFF;
      font-size: 40px;
      font-weight: 900;
    }
    @media (max-width: 750px) {
      > div{
        overflow-wrap: word-wrap;
      }
    }
    @media (max-width: 500px) {
      > div:nth-child(1){
        font-size: 16px;
      }
      > div:nth-child(2){
        font-size: 30px;
      }
    }
    @media (max-width: 750px) {
      margin-top: 50px;
    }
    @media (max-width: 500px) {
      margin-top: 20px;
    }
  }
}

// footer 

.footer{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
  &-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    > pre:nth-child(1){
      color: #FFF;
      font-weight: 900;
    }
    ul{
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      li > a{
        font-size: 16px;
      }
    }
  }
  
  &-media{
    display: flex;
    align-items: center;
    gap: 70px;
    &-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      div{
        color: #FFF;
      }
    }
    @media (max-width: 1250px) {
      flex-direction: column;
      gap: 10px;
    }
    @media (max-width: 550px) {
      flex-direction: row;
      gap: 10px;
    }
  }
  @media (max-width: 750px) {
    .contact-me{
      display: none;
    }
  }
  @media (max-width: 550px) {
    flex-direction: column;
    gap: 10px;
  }
}

.license{
  font-size: 16px;
  margin: 50px 0;
}